@use "variables" as var;
@use "base";

main{
  background: var.$white;
  border-radius: 12px;
  text-align: center;
  width: fit-content;
  padding: 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
  //--QR Code Container
  .qr-code-container{
    //QR Code
    img{
      border-radius: 12px;
      height: 280px;
      width: 280px;
    }
  }
  //--Header Container
  .header-container{
    //-- Header
    h2{
      font-weight: var.$weight700;
      padding: .5em 0;
    }
    //-- Para
    p{
      font-weight: var.$weight400;
      color: var.$primary;
      padding-bottom: 1em;
    }
  }
}